:root {
    --primaryColor:  #F5B027;
    --secondaryColor: #c29846;
    --blackColor: #000000;
}

nav {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div{
    display: flex;
    align-items: center;
}

.logo_and_name{
    display: flex;
}

.fav_and_search{
    display: flex;
}

.header_elements {
    margin-inline: 1rem;
}

input{
    width: 10rem;
    height: 1rem;
    border-radius: 0.625rem;
    padding: 0.4rem;
}

.name_and_star{
    display: flex;
}

.star{
    width: 1.2rem;
    height: 1.2rem;
    margin-left:0.3rem;
    margin-top: 0.9rem
}

.mobilestar{
    display: none;
}

img{
    width: 3rem;
    height: 3rem;
}

body {
    margin: 0;
}

section{
    margin-inline: 2rem
}

h2{
    color: var(--secondaryColor);
    font-family: "montserrat subrayada", sans-serif;
    font-size: large;
}

a{
    text-decoration: none;
    color: var(--blackColor);
}

.visit{
    border-radius: 1rem;
    border: none;
    background-color: var(--primaryColor);
    padding-block:0.4rem;
    padding-inline: 0.5rem;
}

p {
    font-family: "didot", sans-serif;
    text-align: justify; 
}

.theme_choices{
    margin-top: 1rem;
}

button{
    margin: 10px;
}

@media all and (max-width: 992px) {

    .fav_and_search{
        display: flex;
        align-items: center;
    }

    .mobilestar{
        display: block;
        margin-top: 0;
    }

    input{
        width: 5rem;
    }

    .favorite{
        display: none;
    }

    .titre{
        display: flex;
        justify-content: center;
    }

   article{
    text-align: center;
   }

   .name_and_star{
    display: flex;
    justify-content: center;
    }

    img{
    width: 2rem;
    height: 2rem;
    }

    .nomsite{
    font-size: 20px;
    }   

}
    

